name: CI

on:
  push:
    branches: [master]

permissions:
  contents: write
  pull-requests: write
  packages: write
  id-token: write
jobs:
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 20
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Install pnpm
  #       uses: pnpm/action-setup@v4
  #     - name: Setup Node.js 24.x
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 24.x
  #         cache: pnpm
  #     - name: Install dependencies
  #       shell: bash
  #       run: pnpm install

  #     - name: Lint
  #       run: pnpm run lint

  #     - name: Upload coverage
  #       uses: codecov/codecov-action@v4
  #       with:
  #         token: ${{ secrets.CODECOV_TOKEN }}

  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: pnpm
      - name: Install dependencies
        shell: bash
        run: pnpm install
      - name: Build packages
        shell: bash
        run: pnpm run build --filter=@tom-bruce/utils
      - name: Typecheck
        run: pnpm run check-types

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: pnpm
      - name: Install dependencies
        shell: bash
        run: pnpm install

      - name: Lint
        run: pnpm run lint
  ci-ok:
    name: CI OK
    runs-on: ubuntu-latest
    if: always()
    needs: [typecheck, lint]
    steps:
      - name: Exit with error if some jobs are not successful
        run: exit 1
        if: ${{ always() && (contains(needs.*.result, 'failure') || contains(needs.*.result, 'skipped') || contains(needs.*.result, 'cancelled')) }}

  release:
    needs: ci-ok
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: pnpm
      - name: Install dependencies
        shell: bash
        run: pnpm install
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
